@font-face {
    font-family: AcceleracersFont;
    src: url(../fonts/Delta-BoldItalic.otf);
}

*{
    box-sizing: border-box;
}

.decision{
    display: flex;
}

.options{
    flex: 50%;
    padding: 10px;
}

p{
    font-size: 40px;
    color: #333;
    width: auto;
    height:auto;
    border-radius: 20px;
    margin-bottom: 50px;
    margin-top: 15%;
    padding: 20px;
    background-color: red;
    text-align: center;
    font-family: AcceleracersFont;
}
