body{
    background-image: url("./images/Acceleracers_Logo.jpg");
    background-size: 100%;
}

.title{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.characterselect { 
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 300;
    float: left;
    width: 33.33%;
    padding: 5px;
    padding-top: 5%;
}

#character_text{
    text-align: center;
    display: block;
}
